

.usertitle{
	text-align:center;
}

.changeButton{
	padding-top:20px;
	padding-bottom:40px;
	width:70%;
	margin:auto;
}

.register{
	position:absolute;left:81%;
	text-align:right;
}

.roster{
	width:70%;
	margin:auto;
}

table{
	width:100%;
}

