
.schedule-title{
	text-align:center;
}

button{
	position:relative;left:96%;
	text-align:right;
}

.schedule-list{
	width:70%;
	margin:auto;
}

.schedule-table{
	width:100%;
}

table{
	width:100%;
	
}

