
.layout-title{
	text-align:center;
}

button{
	position:relative;left:96%;
	text-align:right;
}

.plink{
	padding-top:30px;
	width:40%;
	text-align:center;
	margin:auto;
}

.linkpage{
	border:solid 1px green;
}
